<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <ol>
    <li *ngFor='let name of apiValues'>
      {{name}}
    </li>
  </ol> -->
  <!-- <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Designation</th>
    </tr>
    <tr *ngFor='let obj of list' >
    <td>{{obj.empId}}</td>
    <td>{{obj.empName}}</td>
    <td>{{obj.empDesig}}</td>
    </tr>
  </table> -->
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Date</th>
      <th>Pin</th>
    </tr>
    <tr *ngFor='let obj of list' >
    <td>{{obj.cId}}</td>
    <td>{{obj.cName}}</td>
    <td>{{obj.cDob}}</td>
    <td>{{obj.cPin}}</td>
    </tr>
  </table>



